<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML,CSS" />
    <meta name="description" content="..." />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/nav-script.js"></script>
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/searchbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <div class="topnav" id="myTopnav">
      <a href="" style="margin-right: 1.5rem"
        ><b><strong>MusicDB</strong></b></a
      >
      <a href="/artists">Artists</a>
      <a href="/albums">Albums</a>
      <a href="/concerts" class="active">Concerts</a>
      <a href="/songs">Songs</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <form class="example">
        <button type="submit" class="search-button">
          <i class="fa fa-search" style="color: #333"></i>
        </button>
        <input
          type="text"
          placeholder="Search.."
          name="search"
          class="search-bar"
          value="<%= search %>"
        />
      </form>
    </div>
  </head>

  <body>
    <table border="1" table class="styled-table">
      <thead>
        <tr>
          <td colspan="4">CONCERTS</td>
        </tr>
      </thead>
      <tr>
        <td><b>Artist</b></td>
        <td><b>Date</b></td>
        <td><b>Location</b></td>
        <td><b>Attendance</b></td>
      </tr>
      <% for(concert of concerts ) { %>
      <tr>
        <td><%= concert.artist.name %></td>
        <td><%= concert.date.toString().slice(4,15) %></td>
        <td><%= concert.location %></td>
        <td><%= concert.attendance %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
